In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv('Consumo_cerveja.csv', sep = ",")

In [ ]:
data.head()

In [ ]:
#Verifica se há dados faltantes no data set
data.isna() .any()

In [ ]:
#soma a quantidade de dados faltantes no data set
data.isna() .sum()

In [3]:
#Elimina as celulas vazias do dataset
data = data.dropna()

In [ ]:
# Exibe as estatisticas descritivas do Dataset

data.describe()

In [8]:
#Exibe a o tipo de dado por coluna

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Data                         365 non-null    object
 1   temp_media                   365 non-null    object
 2   temp_min                     365 non-null    object
 3   temp_max                     365 non-null    object
 4   Precipitacao (mm)            365 non-null    object
 5   fds                          365 non-null    int64
 6   Consumo de cerveja (litros)  365 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 22.8+ KB

In [21]:
#renomear colunas e salvar na variável

data = data.rename(columns = {'Temperatura Media (C)': 'temp_media', 'Temperatura Minima (C)': 'temp_min', 'Temperatura Maxima (C)': 'temp_max', 'Final de Semana': 'fds', 'Consumo de cerveja (litros)': 'consumo' })

In [9]:
data = data.astype({'fds': 'float'})

In [ ]:
data['Data'] = pd.to_datetime(data['Data'])

In [ ]:
data.head()

In [ ]:
data['temp_media'] = data['temp_media'].astype(float)

In [11]:
#Converte todos os campos em float

date = data.replace('[^\d.]', '', regex=True).astype(float)

In [23]:
date.head()

,Data,temp_media,temp_min,temp_max,Precipitacao (mm),fds,Consumo de cerveja (litros)
0,1970-01-01 00:00:00.020150101,273.0,239.0,325.0,0.0,0.0,25.461
1,1970-01-01 00:00:00.020150102,2702.0,245.0,335.0,0.0,0.0,28.972
2,1970-01-01 00:00:00.020150103,2482.0,224.0,299.0,0.0,1.0,30.814
3,1970-01-01 00:00:00.020150104,2398.0,215.0,286.0,12.0,1.0,29.799
4,1970-01-01 00:00:00.020150105,2382.0,21.0,283.0,0.0,0.0,28.900

In [17]:
date.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Data                         365 non-null    datetime64[ns]
 1   temp_media                   365 non-null    float64
 2   temp_min                     365 non-null    float64
 3   temp_max                     365 non-null    float64
 4   Precipitacao (mm)            365 non-null    float64
 5   fds                          365 non-null    float64
 6   Consumo de cerveja (litros)  365 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 22.8 KB

In [16]:
date['Data'] = pd.to_datetime(date['Data'])

In [22]:
date.describe() .round(2)

,temp_media,temp_min,temp_max,Precipitacao (mm),fds,Consumo de cerveja (litros)
count,365.00,365.00,365.00,365.00,365.00,365.00
mean,1700.15,162.14,238.47,43.02,0.28,25.40
std,834.67,51.81,85.44,110.04,0.45,4.40
min,14.00,11.00,18.00,0.00,0.00,14.34
25%,1604.00,147.00,219.00,0.00,0.00,22.01
50%,2024.00,175.00,262.00,0.00,0.00,24.87
75%,2252.00,195.00,291.00,24.00,1.00,28.63
max,2886.00,245.00,365.00,948.00,1.00,37.94